<html>

<title> Friends Page</title>
<body>
<p>&nbsp;</p>
<p><a href="{{ url_for('main.home') }}">Go Back to Home Page</a></p>
<div>
    <div>
        <table>
            <tbody>
            <tr>
                <th><center>Profile Photo</center></th>
                <th><center>Friend Name</center></th>
                <th><center>Bio</center></th>
                <th><center>Message</center></th>
                <th><center>Add Friend</center></th>
            </tr>
            <tr>
                <td><center><img src="https://img.icons8.com/bubbles/50/000000/man-with-beard-in-green-t-shirt.png" /></center></td>
                <td><center>Jesse Hartloff</center></td>
                <td><center>Professor for 312</center></td>
                <td><center><button> Message </button></center></td>
                <td><center><button> Add Friend </button></center></td>
            </tr>
            <tr>
                <td><center><img src="https://img.icons8.com/bubbles/50/000000/man-with-red-glasses-gem.png" /></center></td>
                <td><center>Ishaan Roychowdhury</center></td>
                <td><center>Student in 312</center></td>
                <td><center><button> Message </button></center></td>
                <td><center><button> Add Friend </button></center></td>
            </tr>
            <tr>
                <td><center><img src="https://img.icons8.com/bubbles/50/000000/man-with-a-compass.png" /></center></td>
                <td><center>Dannen Roberts</center></td>
                <td><center>Student in 312</center></td>
                <td><center><button> Message </button></center></td>
                <td><center><button> Add Friend </button></center></td>
            </tr>
            <tr>
                <td><center><img src="https://img.icons8.com/bubbles/50/000000/man-in-green-glasses-hotel-room.png" /></center></td>
                <td><center>Manthan Vasavada</center></td>
                <td><center>Student in 312</center></td>
                <td><center><button> Message </button></center></td>
                <td><center><button> Add Friend </button></center></td>
            </tr>
            <tr>
                <td><center><img src="https://img.icons8.com/bubbles/50/000000/man-with-sd.png" /></center></td>
                <td><center>Nick Shaffer</center></td>
                <td><center>Student in 312</center></td>
                <td><center><button> Message </button></center></td>
                <td><center><button> Add Friend </button></center></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div>&nbsp;</div>
</div>
</body>
</html>