<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    console.log("Socket Created")

    const sleep = (milliseconds) => {return new Promise(resolve => setTimeout(resolve, milliseconds))}

    function alertNewPost() {
        sleep(500).then(() => {
            socket.emit('post update', {});
        })
    }

    function vote(id, val) {
            socket.emit('vote', {"id": id, "val": val});
    }

    function SendThisComment(id) {
        let commentBox = document.getElementById("comment"+id);
        let comment = commentBox.value;
        console.log(comment);
        socket.emit('comment', {"id": id, "comment": comment});
    }


    function simplePost(){
        const formElement = document.getElementById("mainForm");
        const formData = new FormData(formElement);

        const request = new XMLHttpRequest();

        request.open("POST", "upload", true);
        request.send(formData);

        alertNewPost();
    }

    socket.on('update received', function(msg) {
        console.log(msg);

        let newPost = "<li>\n" +
            "                <h1>"+  msg.title  +"</h1>\n" +
            "                <img src=\"/static/"+  msg.image  +"\" width=\"480\">\n" +
            "                <br><br>\n" +
            "<form onsubmit=\"vote( "+msg.id+" , 1);return false;\">\n" +
            "                    <input type=\"Submit\" value=\"Upvote\">\n" +
            "                </form>\n" +
            "\n" +
            "                <form onsubmit=\"vote("+msg.id+", -1);return false;\">\n" +
            "                    <input type=\"Submit\" value=\"Downvote\">\n" +
            "                </form>\n" +
            "\n" +
            "                <h3> Vote Score is: </h3> <h2 id=\"vote"+msg.id+"\">0</h2>\n" +
            "\n" +
            "                <br><br>\n" +
            "\n" +
            "                <form onsubmit=\"SendThisComment("+msg.id+");return false;\">\n" +
            "                    <label for=\"comment!\">Comment on the Post!</label>\n" +
            "<br>" +
            "                    <input name=\"comment!\" id=\"comment"+msg.id+"\" required>\n" +
            "<br>" +
            "                    <input type=\"Submit\" value=\"Comment\">\n" +
            "                </form>\n" +
            "\n" +
            "                <div style=\"width: 480px\" id=\"comments"+msg.id+"\">\n" +
            "\n" +
            "\n" +
            "                </div>" +
            "<hr>"+
            "</li>"

        let thePosts = document.getElementById("posts");
        thePosts.innerHTML = newPost + thePosts.innerHTML
    })

    socket.on('vote received', function(msg) {
        let voteCount = document.getElementById("vote"+msg.id);
        voteCount.innerHTML = msg.vote;

        console.log(msg);
    })

    socket.on('comment received', function(msg){
        let comments = document.getElementById("comments"+msg.id);
        comments.innerHTML = "<h2>"+msg.comment+"</h2>"+comments.innerHTML

    })


</script>

<style>
input {
  padding: 0.2em;
  box-sizing: border-box;
  width: 480px;
}
html * {
   color: #000 !important;
   font-family: Arial !important;
}

hr {
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
}
</style>

<body>

{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}

<h1>{{ greeting_text }}</h1>

{% if bool_logged_in == False %}

    <li>
        <a href="{{ url_for('log.register') }}">Register</a>
    </li>

    <li>
        <a href="{{ url_for('log.login') }}">Login</a>
    </li>

{% else %}
    <li>
        <a href="{{ url_for('friends.friends') }}">Friends    </a>
    </li>
    <li>
        <a href="{{ url_for('log.logout') }}">Logout</a>
    </li>
{% endif %}

<hr>


<br />

<h2> This is a website which will connect you to friends</h2>


<div id="myModal" class="modal">

    <div class="modal-content">
        <p> You can create a text post and even post photos here!</p>

        <form method="post" enctype=multipart/form-data id="mainForm" onsubmit="simplePost();return false;">
            <label for="title">Title</label>
            <input name="title" id="title" required>
            <br>
            <label for="image">Image</label>
            <input type="file" name="image" id="image" required>
            <br>
            <input type="submit" value="Post">
        </form>
    </div>

    <p> Or feel free to just browse</p>

</div>

<div>
    <ul id="posts">
        {% for post in posts %}
            <li>
                <h1>{{post[0]['title']}}</h1>
                <img src="/static/{{post[0]['image']}}" width="480">
                <br><br>

                <form onsubmit="vote({{ post[0]['id'] }}, 1);return false;">
                    <input type="Submit" value="Upvote">
                </form>

                <form onsubmit="vote({{ post[0]['id'] }}, -1);return false;">
                    <input type="Submit" value="Downvote">
                </form>

                <h3> Vote Score is: </h3> <h2 id="vote{{ post[0]['id'] }}">{{post[0]['votes']}}</h2>

                <br><br>

                <form onsubmit="SendThisComment({{ post[0]['id'] }});return false;">
                    <label for="comment!">Comment on the Post!</label>
                    <br>
                    <input name="comment!" id="comment{{ post[0]['id'] }}" required>
                    <br>
                    <input type="Submit" value="Comment">
                </form>

                <div style="width: 480px" id="comments{{ post[0]['id'] }}">
                    {% for comment in post[1] %}

                        <h2>{{ comment['comment'] }}</h2>
                    {% endfor %}

                </div>
                <hr>

            </li>
        {% endfor %}
    </ul>
</div>
</div>
</body>
</html>
