<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}

<div>

    <label ><b>Username</b></label>
    <input type="text" placeholder="Enter Username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password"required>

    <button type="submit">Login</button>
    <button type="submit">Register</button>

</div>



<br />
<li>
    <a href="{{ url_for('friends.friends') }}">Friends    </a>
</li>
<br />

<h1>Welcome, Generic User, to [Insert Generic Social Media Site]!</h1>
<h2> This is a website which will connect you to friends</h2>


<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <p> You can create a text post and even post photos here!</p>

        <form method="post" enctype=multipart/form-data action="/upload">
            <label for="title">title</label>
            <input name="title" id="title" required>
            <label for="image">Image</label>
            <input type="file" name="image" id="image" required>
            <input type="submit" value="Post">
        </form>
    </div>

    <p> Or feel free to just browse</p>

</div>

<div id="posts">
    <ul>
        {% for post in posts %}

            <li>
                <h2>{{post['title']}}</h2>
                <img src="/static/{{post['image']}}" width="480">
                <br>
                <button>Upvote</button>
                <button>Downvote</button>
                <h4>Comments:</h4>
            </li>


        {% endfor %}
    </ul>
</div>

<!-- TODO: Add UI for main page, posts, upvotes, that sort of thing-->